.input {
    padding: 0.5rem;
    margin-bottom: 0.15rem;
    border: 0.1rem solid #ccc;
    border-radius: 0.5rem;
    font-size: 0.8rem;
    width: 100%;
    box-sizing: border-box;
    appearance: none;
    transition: border-color 0.3s;

    &:hover {
        border-color: #278de0;
    }

    &:focus {
        border-color: #1872bb;
        outline: none;
    }

    &::placeholder {
        color: rgb(155, 155, 155);
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.fieldset {
    box-sizing: border-box;
    border: 0.1rem solid #ddd;
    padding: 1.2rem;
    border-radius: 0.3rem;
    margin: 0 0.8rem 1rem;

    &:not(.unused) &__legend {
        box-sizing: border-box;
        padding-left: 0.7rem;
        font-size: 1.1rem;
        margin-bottom: 0.07rem;
        font-weight: 600;
        color: #555;
    }

    &__label {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.6rem;
        font-size: 0.8rem;
        color: #4e4d4d;
    }

    &__span {
        margin-bottom: 0.25rem;
        font-weight: 500;
    }
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    border: none;
    outline: none;
    width: 13rem;
    margin: 0 auto;
}

.deleteButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    width: 8.75rem;
    font-size: 0.7rem;
}

@media (max-width: 680px) {
    .input {
        padding: 0.3rem;
        font-size: 0.5rem;
    }

    .fieldset {
        padding: 0.7rem;
        margin: 0 0.35rem 0.7rem;

        &:not(.unused) &__legend {
            font-size: 0.6rem;
        }

        &__label {
            font-size: 0.5rem;
        }
    }

    .button,
    .deleteButton {
        width: 5rem;
        height: 1.4rem;
        font-size: 0.5rem;

        .deleteSvg {
            display: none;
        }
    }

    .button {
        width: 9rem;
    }
}

@media (max-width: 400px) {
    .fieldset {
        padding: 0.7rem;
        margin: 0 0.35rem 0.7rem;

        &:not(.unused) &__legend {
            font-size: 0.6rem;
        }
    }
}
